@mixin panel-decor() {
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

@mixin panel-inherit($height) {
  .panel {
    height: $height !important;
  }
  .panel > div {
    position: initial !important;
    transform: initial !important;
  }
}

@mixin panel-bg($url) {
  background: url($url) top center no-repeat;
}

html {
  //overflow: hidden;
}

body {
  color: #bbbbbb;
  font-size: 18pt;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  //overflow-y: scroll;
  //overflow-x: hidden;
  //perspective: 1px;
  //transform-style: preserve-3d;
}

h1 {
  color: #818181;
}

h2, h3, h4, h5, h6 {
  color: #bbbbbb;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, sans-serif;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 5px;
}

//#page {
//  scroll-behavior: smooth;
//  scroll-snap-type: mandatory;
//  scroll-snap-destination: 0% 100%;
//  scroll-snap-points-y: repeat(100%);
//}

#welcome {
  h1 {
    font-size: 40pt;
    letter-spacing: 25px;
    margin-bottom: 50pt;
  }
  p {
    font-size: 20pt;
    line-height: 30pt;
    max-width: 800px;
  }
  span {
    letter-spacing: 5px;
  }
}

.active {
  color: #009bf7 !important;
}

.clients {
  margin-top: 20px;
  img:hover {
    opacity: 0.6;
  }
}

.clients div > div {
  padding: 20px;
}

.contact-email {
  margin-top: 50px;
}

.experience {
  font-size: 10pt;
  list-style-type: none;
  margin-left: 0;
  li:before {
    content: "\0040\0020";
  }
}

.grey-text {
  color: #CCCCCC;
}

.panel {
  box-sizing: border-box;
  height: 1000px;
  position: relative;
  transform-style: inherit;
}

.panel:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.panel, .panel:before {
  background: 50% 50% / cover;
}

.panel > div {
  left: -50%;
  margin: 82px auto;
  max-width: 1000px;
  padding: 20px;
  position: absolute;
  right: -50%;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.panel.one {
  @include panel-bg("../images/bg/1.png");
  @include panel-decor();
}

.panel.two {
  @include panel-bg("../images/bg/2.png");
  @include panel-decor();
}

.panel.three {
  @include panel-bg("../images/bg/3.png");
  @include panel-decor();
}

.panel.four {
  @include panel-bg("../images/bg/4.png");
  @include panel-decor();
}

.panel.five {
  @include panel-bg("../images/bg/5.png");
  @include panel-decor();
}

.profile-card {
  hr {
    border-bottom: 5px #F3F3F3 solid;
    margin-top: 10px;
  }
  img {
    max-width: 200px;
  }
  .about-icon {
    height: 80px;
    margin: 20px;
  }
  .profile-info p {
    font-size: 12pt;
  }
  .profile-pic {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-bottom: 20px;
  }
  //.profile-pic:hover {
  //  -webkit-filter: grayscale(0);
  //  filter: grayscale(0);
  //}

  .subheader {
    font-size: 12pt;
    font-weight: bold;
  }
  span {
    color: #bfbfbf;
  }
  margin: 15px auto;
}

.quote-img {
  padding: 30px;
  width: 130px;
}

.sticky {
  z-index: 10;
}

.top-bar {
  background: none;
  ul {
    background: none;
    a {
      color: #000000;
      span:first-child {
        //color: #000000;
        font-size: 12pt;
        opacity: 0;
      }
    }
    a:hover {
      span:first-child {
        opacity: 1;
      }
      //color: #0082d7;
    }
  }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  body {
    font-size: 12pt;
  }
  @include panel-inherit(inherit);
}

/* Medium down */
@media screen and (max-width: 63.9375em) {
  #welcome {
    h1 {
      font-size: 28pt;
      letter-spacing: 5px;
    }
    p {
      font-size: 15pt;
    }
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  body {
    font-size: 14pt;
  }
  @include panel-inherit(inherit);
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  @include panel-inherit(inherit);
}
